* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}

section {
    height: 100vh;
    background-color: #86af49;
    font-family: sans-serif;
}

.intro{
    color: #d5e1df;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.intro h1{
    font-size: 50px;
}

.intro button{
    cursor: pointer;
    width: 200px;
    height: 75px;
    background: #e3eaa7;
    border: 2px  black solid;
    font-size: 25px;
    border-radius: 5px;

}

.grid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 87vh;
    width: 87vh;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
    grid-column-gap: 0;
}

.grid button{
    cursor: pointer;
    width: 13vh;
    height: 13vh;
    background: #e3eaa7 no-repeat center;
}


div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

