* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}

section {
    height: 100vh;
    background-color: #86af49;
    font-family: sans-serif;
    overflow: hidden;
}

.intro{
    position: relative;
    top: 20vh;
    color: #d5e1df;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.intro h1{
    font-size: 10vh;
}

.intro button{
    cursor: pointer;
    width: 20vh;
    height: 10vh;
    background: #e3eaa7;
    border: 2px  black solid;
    font-size: 2.5vh;
    border-radius: 5px;

}

.grid{
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 91vh;
    width: 91vh;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
    /*grid-column-gap: 0;*/
}

.grid button{
    cursor: pointer;
    display: block;
    width: 13vh;
    height: 13vh;
    background: #e3eaa7 no-repeat center;
}

.score{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5vh;
    width: 20vh;
    font-size: 3vh;
    background: #e3eaa7;
}

.restart{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 5vh;
    right: 0;
    width: 20vh;
    height: 5.205vh;
    font-size: 4vh;
    font-weight: bolder;
    background: #e3eaa7;

}

.restart button{
    padding: 0;
    border: none;
    border-radius: 5px;
    font-size: 4vh;
    width: 20vh;
    height: 5.205vh;
    display: block;
    font-weight: bold;
    background: #e3eaa7;
    cursor: pointer;

}

.win {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 7vh;
    background: #e3eaa7;
    border: black 2px solid;
    border-radius: 5px;
    padding: 40px;
}
.win h2{
    padding: 25px;
}

.win buttons{
    flex-direction: row;
}
.win button{
    background: #D3D3D3;
    border-radius: 5px;
    border: black 1px solid;
    width: 23vh;
    height: 10vh;
    font-size: 4vh;
    cursor: pointer;
}

.lose {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 7vh;
    background: #e3eaa7;
    border: black 2px solid;
    border-radius: 5px;
    padding: 40px;
}
.lose h2{
    padding: 25px;
}

.lose buttons{
    flex-direction: row;
}
.lose button{
    background: #D3D3D3;
    border-radius: 5px;
    border: black 1px solid;
    width: 23vh;
    height: 10vh;
    font-size: 4vh;
    cursor: pointer;
}


div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

div.end{
    opacity: 0.5;
    pointer-events: none;
}


